.App{
  background-color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppHeader{
  height: 100px;
  text-align: center;
}

.AppContent{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}