.SomeComponent {
  background-color: white;
  width: 400px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px #ccc;
  display: flex;
  flex-direction: column;

}

content div {
  flex: 1;
}

h1 {
  margin: 0;
}

footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}